/* You can add global styles to this file, and also import other style files */
app-child,
app-parent {
  display: block;
}

app-child {
  margin-left: 1em;
}

app-lifecycle-container {
  display: block;
  background-color: #f88;
  padding: 0.5em 1em;

  h2 {
    margin: 0;
  }
}

app-lifecycle-first-child {
  display: block;
  background-color: #88f;
  padding: 0.5em 1em;
}

app-lifecycle-second-child {
  display: block;
  background-color: #8f8;
  padding: 0.5em 1em;
}